$pointColor: #00e099;

.about-root {
    background: linear-gradient(90deg, #222831 4% 0%, 80%, #015f4178), url('/images/about_cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 144px 18% 144px 20%;
    font-family: 'Montserrat', sans-serif;

    & .responsive {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        // & .about-cover {
        //     background-image: url('/images/about_cover.webp');
        //     background-size: cover;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     min-height: 768px;
        //     width: 100%;
        // }

        & .about-contents {
            font-weight: 500;
            max-width: 960px;

            & .title {
                & p {
                    font-size: 60px;
                    font-weight: 600;
                }
            }

            & .strong {
                & p {
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            & .content {
                & p {
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        & {
            background: linear-gradient(90deg, #222831 4% 0%, 80%, #015f4178), url('/images/about_cover-low.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 72px 24px 48px 24px;

            & .responsive {
                & .about-cover {
                    display: none;
                }

                & .about-contents {
                    margin-left: 0;
                    padding: 32px 0 96px 0;
                }
            }
        }
    }

    @media (max-width: 600px) {
    }
}
