$pointColor: #2c7b6c;

.about-root {
    background-color: rgb(0, 64, 55);
    color: white;
    padding: 56px 24px 0 0;

    & .responsive {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        & .about-cover {
            background-image: url('/images/about_cover.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 768px;
            width: 100%;
        }

        & .about-contents {
            font-weight: 500;
            margin-left: 24px;
            padding-top: 64px;

            & .title {
                & p {
                    font-size: 42px;
                    font-weight: 600;
                }
            }

            & .strong {
                & p {
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            & .content {
                & p {
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        & {
            padding: 56px 24px 0 24px;

            & .responsive {
                & .about-cover {
                    display: none;
                }

                & .about-contents {
                    margin-left: 0;
                    padding: 32px 0 96px 0;
                }
            }
        }
    }

    @media (max-width: 600px) {
    }
}
