.border-animated-button {
    .button-wrapper {
        display: inline-block;
    }
    .dark-button,
    .dark-button-2 {
        background: #333;
    }
    .button {
        background: rgba(255, 255, 255, 0.836);
        border: none;
        padding: 2px;
        cursor: pointer;
        display: block;
        position: relative;
        overflow: hidden;
        transition: all 0.35s ease-in-out 0.35s;
        margin: 0 auto;
        width: fit-content;
        text-align: center;
    }
    .dark-button .button,
    .dark-button .button span {
        background: #00e099;
        color: #fff;
    }
    .dark-button .button:after,
    .dark-button .button:before,
    .dark-button .button:hover span {
        background: #222831e0;
        color: #444;
    }
    .dark-button-2 .button,
    .dark-button-2 .button span {
        background: #333;
        color: #fff;
    }
    .dark-button-2 .button:after,
    .dark-button-2 .button:before,
    .dark-button-2 .button:hover span {
        background: #fff;
        color: #444;
    }
    span {
        display: block;
        padding: 16px 30px;
        background: #353b44;
        z-index: 100;
        position: relative;
        transition: all 0.35s ease-in-out 0.35s;
    }
    .button:hover span {
        background: #00e099;
        color: rgb(0, 0, 0);
        transition: all 0.35s ease-in-out 0.35s;
    }
    .button:after {
        bottom: -100%;
        right: -100%;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #00e099;
        transition: all 0.35s ease-in-out 0.5s;
    }
    .button:hover:after {
        right: 0;
        bottom: 0;
        transition: all ease-in-out 0.35s;
    }
    .button:before {
        top: -100%;
        left: -100%;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #00e099;
        transition: all 0.35s ease-in-out 0.5s;
    }
    .button:hover:before {
        left: 0;
        top: 0;
        transition: all ease-in-out 0.35s;
    }
}
