$pointColor: #4dc2af;

/********************* 폰트 초기화 *************************/
/********************* Montserrat ***********************/
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('./fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('./fonts/Montserrat/Montserrat-Black.ttf');
}
/********************* Montserrat ***********************/

/******************** Noto Sans KR **********************/
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 200;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 600;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 800;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Black.otf');
}
/******************** Noto Sans KR **********************/

body,
html {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0 !important;
    overflow: initial !important;
    height: 100%;

    //-ms-overflow-style: none; /* IE and Edge */
    //scrollbar-width: none; /* Firefox */
}

::selection {
    background: #b7ffed; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #b7ffed; /* Gecko Browsers */
}

.bgcover1 {
    width: 100%;
    height: 100%;
    background-image: url('/images/introcover1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sec-bg {
    background-color: #222831;
}

.bgcover2 {
    height: 100%;
    background: linear-gradient(150deg, #222831ee 34%, 90%, rgba(0, 224, 154, 0.5) 109%), url('/images/introcover3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #222831;
}

.bgcover3 {
    // width: 100%;
    // height: 100%;
    // background: radial-gradient(at 30% 45%, #00e099, #00cf8dc9), url('/images/introcover2.jpg');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(165deg, #000000b0 32% 8%, 90%, rgba(0, 224, 154, 0.21) 105%), url('/images/introcover2.jpg');
    // background-image: url('/images/introcover2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
}

.bgcover-contact-us {
    height: 100%;
    background: linear-gradient(-45deg, #222831e0, #222831), url('/images/introcover_contactus2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
}

.bgcover-events {
    height: 100%;
    background-image: url('/images/introcover_events1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
}
/* .bgcover..etc */

.image-cover {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
}

.section-wrapper {
    color: white;
    overflow: hidden;
}

// body::-webkit-scrollbar {
//     display: none; /* Chrome, Safari, Opera*/
// }

.ko {
    font-family: 'Noto Sans KR', sans-serif;
    &.header-font {
        font-size: 28px;
        font-weight: 510;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -1.6px;
        color: #333333;

        margin-bottom: 15px;
    }

    &.desc-font {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -1.1px;
        color: #666666;

        margin-bottom: 15px;
    }
}
.en {
    font-family: 'Montserrat', sans-serif;
    &.header-font {
        font-size: 28px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -1.6px;
        color: #333333;

        margin-bottom: 15px;
    }

    &.desc-font {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -1.1px;
        color: #666666;

        margin-bottom: 15px;
    }
}

//반응형 layout======================
@media (min-width: 1920px) {
    .responsive {
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 1920px) and (min-width: 769px) {
    .responsive {
        width: 760px;
        margin: 0 auto;
    }
    .card {
        width: 31%;
        & + & {
            &:nth-child(3n-1) {
                margin-left: 3.5%;
            }
            &:nth-child(3n) {
                margin-left: 3.5%;
            }
        }
    }
}
@media (max-width: 768px) {
    .responsive {
        width: 90%;
        margin: 0 auto;
    }

    .card {
        width: 48.5%;
        & + & {
            &:nth-child(2n) {
                margin-left: 3%;
            }
            &:nth-child(2n-1) {
                margin-left: 0;
            }
        }
    }
}
