html,
body {
    padding: 0;
    margin: 0;

    a {
        background: transparent;
        text-decoration: none;
        color: inherit;
    }

    button.normal {
        background-color: #13e2a1;
        border: none;
        border-radius: 115px;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        outline: none;
        width: 144px;
        height: 40px;
    }

    section.root {
        padding-top: 80px;
        min-height: 128px;

        & div.wrapper {
            max-width: 1024px;
            width: 100%;
            min-height: inherit;
            margin: 0 auto;
        }

        & div.no-wrapper {
            width: 100%;
            min-height: inherit;
            margin: 0 auto;
        }
    }
}
