// def. pixel size: 16
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Noto Sans KR';

    a {
        background: transparent;
        text-decoration: none;
        color: inherit;
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        word-break: keep-all;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.625rem;
        word-break: keep-all;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        word-break: keep-all;
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
        word-break: keep-all;
    }

    button {
        &.normal {
            background-color: #13e2a1;
            border: none;
            border-radius: 115px;
            color: white;
            cursor: pointer;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            outline: none;
            width: 144px;
            height: 40px;

            &.in-section {
                height: 48px;
            }
        }
    }

    & main {
        padding-top: 80px;
        // padding-left: 16px;
        // padding-right: 16px;
    }

    section.root {
        min-height: 128px;

        & div.wrapper {
            max-width: 1024px;
            width: 100%;
            min-height: inherit;
            margin: 0 auto;

            & .title-root {
                & p.title-tags {
                    color: #13e2a1;
                    font-size: 0.75rem;
                    font-weight: 600;
                    line-height: 1rem;
                    margin: 0;

                    &.lighter {
                        color: #2cffbd;
                    }
                }

                & h1.title {
                    display: flex;
                    color: #ffffff;
                    margin: 0.75rem 0;
                    max-width: 40rem;

                    &.mobile {
                        display: none;
                    }

                    & .left-border {
                        border-left: 2px solid black;
                        height: 2rem;
                        margin: 0.375rem 0.75rem 0.375rem -1rem;
                    }
                }

                & h4.sub-text {
                    margin-top: -2px;
                }
            }
        }

        & div.no-wrapper {
            width: 100%;
            min-height: inherit;
            margin: 0 auto;
        }
    }

    @media all and (max-width: 768px) {
        h1 {
            font-size: 1.75rem;
            line-height: 2.25rem;
        }

        h2 {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        h3 {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        h4 {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        section.root {
            & div.wrapper {
                & .title-root {
                    & p.title-tags {
                        margin-bottom: 1rem;
                    }

                    & h1.title {
                        display: none;

                        &.mobile {
                            display: flex;
                            font-size: 1.75rem;
                            line-height: 2.25rem;
                        }

                        & .left-border {
                            border-left: 2px solid black;
                            height: 1.5rem;
                            margin: 0.375rem 1.75rem 0.375rem -2rem;
                        }
                    }

                    & h4.sub-text {
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
}
