$menuPrimary: #797979;
$menuHighlighted: #2c2c2c;

a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
.nav-root {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 999;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s, height 0.3s, box-shadow 0.3s;
    user-select: none;

    &.scrolled {
        height: 56px;
        color: $menuPrimary;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.15);
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0);

        & .item:hover {
            color: $menuHighlighted;
            text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
        }
    }

    & .nav-logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        min-width: 148px;
        padding-left: 64px;
        transition: padding 0.3s;

        & img {
            height: 32px;
            position: fixed;
            filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.4));
            transition: opacity 0.3s, filter 0.3s;

            &.white {
                opacity: 1;
                &.scrolled {
                    opacity: 0;
                }
            }

            &.color {
                opacity: 0;
                &.scrolled {
                    opacity: 1;
                    filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0));
                }
            }
        }
    }

    & .nav-menus {
        display: flex;
        justify-content: center;

        & .item {
            cursor: pointer;
            transition: all 0.3s;

            & + .item {
                margin-left: 36px;
            }
        }
    }

    & .nav-right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 64px;
        transition: padding 0.3s;

        & .item {
            cursor: pointer;
            transition: all 0.3s;

            &.select-lang {
                color: white;
                &.scrolled {
                    color: $menuPrimary;
                    &:hover {
                        color: $menuHighlighted;
                    }
                }
            }

            & + .item {
                margin-left: 36px;
            }
        }
    }
    & .nav-hambuger {
        display: none;
    }

    @media (max-width: 960px) {
        & .nav-logo {
            padding-left: 56px;
        }

        & .nav-right {
            padding-right: 56px;
        }
    }

    @media (max-width: 768px) {
        & .nav-logo {
            padding-left: 48px;
        }

        & .nav-menus {
            display: none;
        }

        & .nav-right {
            padding-right: 48px;

            & .login {
                display: none;
            }
        }

        & .nav-hambuger {
            cursor: pointer;
            display: inline;
            padding-left: 30px;
            display: flex;
        }

        & .nav-hambuger {
            cursor: pointer;
            display: inline;
            padding-left: 30px;
            display: flex;
        }
    }
    @media (max-width: 600px) {
        & .nav-logo {
            padding-left: 32px;
        }

        & .nav-menus {
            display: none;
        }

        & .nav-right {
            padding-right: 32px;

            & .login {
                display: none;
            }
        }
        & .nav-hambuger {
            cursor: pointer;
            display: inline;
            padding-left: 15px;
            display: flex;
        }
        & .nav-hambuger {
            cursor: pointer;
            display: inline;
            padding-left: 15px;
            display: flex;
        }
    }
}
