$pointColor: #00e099;

.product-header-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 55px;
    color: white;
    text-align: center;
    height: 100vh;
    font-family: 'Montserrat', 'Noto Sans KR';

    & h4 {
        margin: 0;
        font-size: 50px;
        font-weight: 400;
    }
    & p {
        font-size: 28px;
        font-weight: 600;
        line-height: 2.86em;
    }

    @media (min-width: 769px) {
        & {
            width: 100%;
            height: 100vh;
            background: linear-gradient(165deg, rgba(43, 42, 42, 0.7) 23% 50%, 81%, rgba(0, 224, 154, 0.6) 100%),
                url('/images/product_header.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    }
    @media (max-width: 768px) {
        & {
            height: 630px;
        }
        &::before {
            background: linear-gradient(165deg, rgba(43, 42, 42, 0.7) 23% 50%, 81%, rgba(0, 224, 154, 0.6) 100%),
                url('/images/product_header_low.jpg');

            content: ' ';
            display: block;
            background-position: center;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            z-index: -10;
        }
        & h4 {
            margin: 0;
            font-size: 26px;
            line-height: 39px;
            font-weight: 600;
        }
        & p {
            font-size: 18px;
            font-weight: 400;
            line-height: 2.86em;
        }
    }
}

.subitem-process-root {
    color: white;
    background-image: linear-gradient(0deg, #2228318c 35% 50%, 100%, rgba(0, 224, 154, 0.28) 100%),
        url('/images/product_section_cover.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 24px;
    word-break: keep-all;

    & .responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 840px;

        & .sub-products {
            color: white;
            font-weight: 500;
            text-align: center;
            margin: 92px 0;

            & .sub-product-item-container {
                & .product-item-header {
                    & .header-font {
                        font-size: 36px;
                        font-family: 'Montserrat', 'Noto Sans KR';
                        color: white;

                        & span {
                            color: $pointColor;
                            font-size: 48px;
                            margin-right: 1rem;
                        }
                    }

                    & .desc-font {
                        font-size: 22px;
                        color: white;
                    }
                }

                & .product-item-contents {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    & .content-card {
                        min-width: 256px;
                        max-width: 256px;
                        min-height: 280px;
                        background-color: white;
                        border-radius: 4px;
                        overflow: hidden;
                        box-shadow: 1px 4px 4px 2px #0000003a, 2px 6px 12px 4px #00000015;
                        font-family: 'Montserrat', 'Noto Sans KR';
                        margin: 8px 8px 16px 8px;

                        & .card-title {
                            background-color: $pointColor;
                            font-size: 20px;
                            font-weight: 600;
                            padding: 8px 0;
                            text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
                        }

                        & .card-content {
                            color: black;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 8px 12px;
                            min-height: 220px;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        & + .content-card {
                            // margin-left: 32px;
                        }
                    }
                }

                & + .sub-product-item-container {
                    margin-top: 100px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        background-image: linear-gradient(0deg, #2228318c 35% 50%, 100%, rgba(0, 224, 154, 0.28) 100%),
            url('/images/product_section_cover_low.jpg');

        & {
            padding: 32px 24px 64px 24px;
        }
    }
}

.product-root {
    background-color: black;
    //color: #525252;
    color: white;
    padding: 0px 24px;
    word-break: keep-all;
    word-wrap: break-word;

    & .responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 840px;

        & .top-contents {
            font-weight: 500;
            margin-top: 92px;

            & .top-contents-header {
                text-align: center;
                margin-bottom: 100px;
                & > .header-font {
                    font-size: 42px;
                    color: white;
                }
                & > .desc-font {
                    font-size: 22px;
                    color: #c5c2c2;
                }
            }

            & .logo {
                display: flex;
                justify-content: center;

                & img {
                    height: 92px;
                }
            }

            & .items {
                display: flex;
                margin-top: 96px;

                & .card-fade {
                    display: flex;
                }
                & .cardView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-self: center;
                    width: 90%;

                    & .card-img {
                        display: flex;
                        justify-content: center;
                    }

                    & .card-title {
                        font-size: 20px;
                        font-weight: 600;
                        color: white;
                    }

                    & .card-content {
                        font-size: 16px;
                        padding-top: 24px;
                        line-height: 1.5;
                        text-align: center;
                        color: #c5c2c2;
                    }

                    & + .cardView {
                        margin-left: 24px;
                    }
                }
            }
        }

        & .main-contents {
            display: flex;
            flex-direction: column;
            margin-top: 96px;

            & .subRoute {
                & ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    & li {
                        width: 25%;
                        cursor: pointer;
                        list-style: none;
                        text-align: center;
                    }
                    & .listStyle {
                        padding: 10px 15px;
                        font-size: 18px;
                        color: #adacac61;
                        & + & {
                            margin-left: 0;
                        }

                        & span {
                            margin-right: 5px;
                            pointer-events: none;
                        }

                        &:hover {
                            background-color: rgba(146, 144, 144, 0.09);
                        }
                    }
                    & .able {
                        color: white;
                        border-bottom: $pointColor 5px solid;
                        & span {
                            color: $pointColor;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        & {
            padding: 32px 24px 0px 24px;

            & .responsive {
                & .top-contents {
                    & .top-contents-header {
                        text-align: center;
                        margin-bottom: 100px;
                    }
                    & .items {
                        flex-direction: column;

                        & .card-fade {
                            flex-direction: column;
                            justify-self: center;
                            align-items: center;
                        }
                        & .cardView {
                            margin-bottom: 70px;
                            & .card-content {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}

ul,
li {
    list-style: none;
}
.slide {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.slide ul {
    width: calc(100% * 4);
    display: flex;
    transition: 1s;
}
.slide li {
    width: calc(100% / 4);
    height: 300px;
}
.slide li:nth-child(1) {
    background: #ffa;
}
.slide li:nth-child(2) {
    background: #faa;
}
.slide li:nth-child(3) {
    background: #afa;
}
.slide li:nth-child(4) {
    background: #aaf;
}
.slide input {
    display: none;
}
.slide .bullet {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide .bullet label {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #666;
    display: inline-block;
    background: #fff;
    font-size: 0;
    transition: 0.5s;
    cursor: pointer;
}
/* 슬라이드 조작 */
#pos1:checked ~ ul {
    margin-left: 0;
}
#pos2:checked ~ ul {
    margin-left: -100%;
}
#pos3:checked ~ ul {
    margin-left: -200%;
}
#pos4:checked ~ ul {
    margin-left: -300%;
}
/* bullet 조작 */
#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3),
#pos4:checked ~ .bullet label:nth-child(4) {
    background: #666;
}

.getStepContent {
    background-color: #324345;
    min-height: 500px;
    color: white;

    & > .responsive {
        width: 85%;
        max-width: 840px;
        & .contents {
            padding-top: 50px;
            & .title {
                & p {
                    margin-top: 0;
                    margin-bottom: 70px;
                    font-size: 36px;
                    font-weight: 600;
                }
            }

            & .strong {
                & p {
                    margin-bottom: 50px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            & .content {
                & .m {
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                & .s {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-bottom: 30px;
                    color: #c5c2c2;
                }
            }

            & + .contents {
                margin-top: 48px;
            }
        }
    }

    @media (max-width: 768px) {
        min-height: 100vh;
        & .contents {
            & .title {
                & p {
                    margin-top: 0;
                    margin-bottom: 50px;
                    font-size: 26px;
                    font-weight: 600;
                }
            }

            & .strong {
                & p {
                    margin-bottom: 40px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}
