$pointColor: #00e099;

.product-header-contents {
    padding-top: 55px;
    color: white;
    text-align: center;
    width: 100%;
    height: 95vh;
    background-image: url(https://images.unsplash.com/photo-1543196614-e046c7d3d82e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2098&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    & .cover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 95vh;
        //background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 1%, 20%, 0)), to(#00e099));
        background: linear-gradient(165deg, rgba(43, 42, 42, 0.7) 23% 50%, 81%, rgba(0, 224, 154, 0.6) 100%);
    }
    & h4 {
        margin: 0;
        font-size: 50px;
        font-weight: 400;
    }
    & p {
        font-size: 28px;
        font-weight: 600;
        line-height: 2.86em;
    }
}

.product-root {
    //background-color: white;
    //color: #525252;
    color: white;
    background-image: linear-gradient(0deg, #2228318c 35% 50%, 100%, rgba(0, 224, 154, 0.28) 100%), url(/images/product_section_cover.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 0px 24px;
    word-break: keep-all;
    word-wrap: break-word;

    & .responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 840px;

        & .top-contents {
            font-weight: 500;
            margin-top: 92px;

            & .top-contents-header {
                text-align: center;
                margin-bottom: 100px;
                & > .header-font {
                    font-size: 42px;
                    color: white;
                }
                & > .desc-font {
                    font-size: 22px;
                    color: #c5c2c2;
                }
            }

            & .image-container {
                & img {
                    width: 100%;
                }
            }
            & .logo {
                display: flex;
                justify-content: center;

                & img {
                    height: 92px;
                }
            }

            & .items {
                display: flex;
                margin-top: 96px;

                & .card-fade {
                    display: flex;
                }
                & .cardView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-self: center;
                    width: 90%;

                    & .card-img {
                        display: flex;
                        justify-content: center;
                    }

                    & .card-title {
                        font-size: 20px;
                        font-weight: 600;
                        color: white;
                    }

                    & .card-content {
                        font-size: 16px;
                        padding-top: 24px;
                        line-height: 1.5;
                        text-align: center;
                        color: #c5c2c2;
                    }

                    & + .cardView {
                        margin-left: 24px;
                    }
                }
            }
        }

        & .main-contents {
            display: flex;
            flex-direction: column;
            margin-top: 96px;

            & .subRoute {
                & ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    & li {
                        width: 25%;
                        cursor: pointer;
                        list-style: none;
                        text-align: center;
                    }
                    & .listStyle {
                        padding: 10px 15px;
                        font-size: 18px;
                        color: #adacac61;
                        & + & {
                            margin-left: 0;
                        }

                        & span {
                            margin-right: 5px;
                        }

                        &:hover {
                            background-color: rgba(146, 144, 144, 0.09);
                        }
                    }
                    & .able {
                        color: white;
                        border-bottom: $pointColor 5px solid;
                        & span {
                            color: $pointColor;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        transition: margin 1s;
        & {
            padding: 32px 24px 64px 24px;

            & .responsive {
                & .top-contents {
                    & .items {
                        flex-direction: column;

                        & .card-fade {
                            flex-direction: column;
                            justify-self: center;
                            align-items: center;
                        }
                        & .cardView {
                            margin-bottom: 70px;
                            & .card-content {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
    }
}

.getStepContent {
    background-color: #324345;
    min-height: 60vh;
    color: white;

    & .responsive {
        width: 100%;
        max-width: 840px;
        & .contents {
            padding-top: 50px;
            & .title {
                & p {
                    margin-top: 0;
                    font-size: 36px;
                    font-weight: 600;
                }
            }

            & .strong {
                & p {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0 0 0 15px 0;
                }
            }

            & .content {
                & .m {
                    font-weight: 600;
                    margin-bottom: 0;
                }

                & .s {
                    margin-top: 0;
                    color: #c5c2c2;
                }
            }

            & + .contents {
                margin-top: 48px;
            }
        }
    }
}
