.section1 {
    & article {
        padding: 128px 108px 0 108px;
        & .intro-header {
            font-size: 52px;
            font-weight: 600;
            & p {
                margin: 0;
            }
        }

        & .intro-strong {
            font-size: 20px;
            font-weight: 600;
        }

        & .intro-content {
            font-size: 20px;
            font-weight: normal;
            max-width: 560px;
        }
    }

    @media (max-width: 768px) {
        & article {
            padding: 128px 56px 0 56px;
        }
    }
}
