$pointColor: #36bf80;

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;

    & article {
        word-break: keep-all;
        word-wrap: break-word;
        color: white;

        & .header {
            margin-bottom: 15vh;

            & .header-font,
            .desc-font {
                text-align: center;
                color: white;
            }

            & .header-font {
                font-size: 32px;
            }

            & .desc-font {
                font-size: 20px;
            }
        }

        & .desc {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            & .card-wrapper {
                & .cardView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    & .card-img {
                        display: flex;
                        justify-content: center;

                        & img {
                            width: 100%;
                            height: 100%;
                            max-width: 128px;
                            max-height: 128px;
                            margin-bottom: 20px;
                            filter: invert(1);
                        }
                    }

                    & .card-title {
                        font-size: 18px;
                        line-height: 1.5;
                        text-align: center;
                        // color: #212121;
                    }

                    & .card-content {
                        padding-top: 36px;
                        font-size: 14px;
                        line-height: 1.5;
                        text-align: center;
                        // color: #757575;
                    }
                }

                & + .card-wrapper {
                    margin-left: 32px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        & article {
            & .responsive {
                width: 98%;
                padding: 48px 0;
            }

            & .header {
                margin-bottom: 48px;

                & .desc-font {
                    font-size: 18px;
                }
            }

            & .desc {
                padding-top: 48px;

                & div {
                    flex-direction: column;
                }

                & .card-wrapper {
                    & + .card-wrapper {
                        margin-left: 0;
                        margin-top: 72px;
                    }
                }
            }
        }
    }
}

.mark {
    background: #b7ffed;
}
