.SectionProblem {
    padding: 96px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
    overflow: hidden;
    color: white;

    & .right {
        transition: margin 1s;
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        width: 36%;
        margin-right: 4%;

        & p {
            font-size: 22px;
            font-weight: 510;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: -1.6px;
            // color: #333333;
            text-decoration: underline;
        }
        & img {
            width: 100%;
        }
    }

    & .left {
        width: 60%;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.9;
        letter-spacing: -1.1px;
        // color: #666666;
    }
    & .mark {
        // background: #b7ffed;
    }

    @media (max-width: 768px) {
        padding: 10vh 0;
        flex-direction: column;
        align-items: center;

        & .right {
            width: 85%;
            margin-right: 0;
            margin-bottom: 15px;
            text-align: center;
            img {
                display: none;
            }
        }

        & .left {
            width: 85%;
        }
    }
}
