.section-contact-us {
    & article {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 48px;
        height: 192px;
        max-width: 960px;
        font-weight: 500;
        margin: 0 auto;

        & .left {
            & p {
                &.main {
                    font-size: 24px;
                    margin: 0;
                }

                &.sub {
                    font-size: 18px;
                    margin-bottom: 0;
                }

                & span {
                    font-weight: 600;
                }
            }
        }

        & .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
        }
    }

    @media (max-width: 768px) {
        & article {
            padding: 48px 48px;

            & .left {
                & p {
                    text-align: center;
                }
            }

            & .right {
                justify-content: center;
            }
        }
    }
}
