$pointColor: #36bf80;

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    margin-bottom: 15vh;

    & .header-font,
    .desc-font {
        text-align: center;
    }
}
.desc {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cardView {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & .card-img {
        display: flex;
        justify-content: center;
        img {
            width: 90%;
            height: 90%;
            margin-bottom: 20px;
        }
    }
    & .card-title {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #212121;
    }
    & .card-content {
        padding-top: 36px;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #757575;
    }
}

.mark {
    background: #b7ffed;
}
