$pointColor: #00e099;

.tech-header {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    //background: rgba(0, 0, 0, 0.65);
    background: linear-gradient(310deg, rgba(0, 0, 0, 0.7) 23% 50%, 81%, rgba(0, 224, 154, 0.3) 100%);
    & > .bg {
        position: absolute;
        top: -100px;
        left: 0px;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        z-index: -1000;
        overflow: hidden;
    }
    & > .content-box {
        color: white;
        margin-top: 59px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > img {
            width: 250px;
        }

        & p {
            font-size: 28px;
            font-weight: 600;
            line-height: 2.86em;
        }
    }
}

.tech-root {
    background-color: white;
    color: #525252;
    padding: 96px 24px 64px 24px;
    word-break: keep-all;
    word-wrap: break-word;

    & .responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 840px;

        & .tech-contents {
            font-weight: 500;

            & .title {
                & p {
                    font-size: 36px;
                    font-weight: 600;
                    margin-top: 0;
                }
            }

            & .strong {
                & p {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0;
                }
            }

            & .right-container {
                & .right-image {
                    background-image: url(/images/tech-img1.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    filter: grayscale(1);
                    width: 100%;
                    height: 300px;
                    margin-top: -120px;
                }

                & video {
                    width: 100%;
                    min-width: 240px;
                }
            }

            & .header {
                padding-top: 70px;
                padding-bottom: 25px;
                margin: 0;
            }
            & .contents {
                & .label {
                    font-size: 20px;
                    font-weight: 600;
                    padding-top: 16px;
                }
            }

            & .special-logo {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                max-width: 240px;
            }

            & .special {
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 12px;

                & p {
                    font-weight: 600;
                    font-size: 20px;
                }
            }

            & + .tech-contents {
                margin-top: 92px;
            }

            & .MuiTabs-indicator {
                background-color: #00e099;
            }

            & .MuiAppBar-colorDefault {
                background-color: white;
                box-shadow: none;
            }
            & .MuiTab-root {
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 19px;
                font-weight: 550;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.47;
                letter-spacing: -1.6px;
            }
        }
    }

    @media (max-width: 768px) {
        & {
            padding: 96px 24px 64px 24px;

            & .responsive {
                & .tech-contents {
                    & .right-container {
                        & .right-image {
                            margin-left: 16%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        & {
            & .responsive {
                & .tech-contents {
                    & .right-container {
                        & .right-image {
                            display: none;
                        }
                    }
                    & .special {
                        padding-left: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}
